body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  }

h1 {  
  color:#66BFBF;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 80px;
}

h2 {  
  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

h3 {  color:#66BFBF;

}
h4{  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;

}
h6
{ 
  margin-bottom: 0 auto 0 auto;
  
}
.top-container {
  background-color:#AFEEEE;
  width: auto;
  height: auto;
  position: relative;
  padding-top: 30px;
}

.middle-container {
  background-color:white;
  width: auto;
  height:auto;
  position: relative;
  padding-top: 30px;
}

.bottom-container {
  background-color: white;
  width: auto;
  height:auto;
  position: relative;
}

.Enthu {
  text-decoration: underline;
}

.top-casino-chipss  {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-casino-chipss {
  position: absolute;
left:200px;
  bottom:50px;
}
hr { background-color: white;
  border-style:none;
  border-top-style: dotted;
  border-color:grey;
  border-width: 10px;
  width: 20%;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {background-color: #04AA6D;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
</style>
</head>
<body>

<h1>The button element - Styled with CSS</h1>
<p>Change the background color of a button with the background-color property:</p>

<button class="button button1">Green</button>
<button class="button button2">Blue</button>
}
