body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  }

h1 {  
  color:#66BFBF;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 80px;
}

h2 {  
  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

h3 {  color:#66BFBF;

}
h4{  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;

}
h6
{ 
  margin-bottom: 0 auto 0 auto;
  
}
.top-container {
  background-color:#AFEEEE;
  width: auto;
  height: auto;
  position: relative;
  padding-top: 30px;
}

.middle-container {
  background-color:white;
  width: auto;
  height:auto;
  position: relative;
  padding-top: 30px;
}

.bottom-container {
  background-color: white;
  width: auto;
  height:auto;
  position: relative;
}

.Enthu {
  text-decoration: underline;
}

.top-casino-chips  {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-casino-chips {
  position: absolute;
left:200px;
  bottom:50px;
}
hr { background-color: white;
  border-style:none;
  border-top-style: dotted;
  border-color:grey;
  border-width: 10px;
  width: 20%;
}
body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}

.contact-container {
  text-align: center;
}

.contact-btn {
  background-color: #28a745;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: bold;
}

.contact-btn:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.contact-btn:active {
  background-color: #1e7e34;
  transform: translateY(0);
}
