body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  }

h1 {  
  color:#66BFBF;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 80px;
}

h2 {  
  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

h3 {  color:#66BFBF;

}
h4{  color:#66BFBF;
  font-family: 'Montserrat', sans-serif;

}
h6
{ 
  margin-bottom: 0 auto 0 auto;
  
}
.top-container {
  background-color:#AFEEEE;
  width: auto;
  height: auto;
  position: relative;
  padding-top: 30px;
}

.middle-container {
  background-color:white;
  width: auto;
  height:auto;
  position: relative;
  padding-top: 30px;
}

.bottom-container {
  background-color: white;
  width: auto;
  height:auto;
  position: relative;
}

.Enthu {
  text-decoration: underline;
}

.top-casino-chipss  {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-casino-chipss {
  position: absolute;
left:200px;
  bottom:50px;

}
hr
{ background-color: white;
  border-style:none;
  border-top-style: dotted;
  border-color:grey;
  border-width: 10px;
  width: 20%;
}


